
@{
    ViewBag.Title = "SideMenu";
    Layout = "~/Views/Shared/_LayoutPage123.cshtml";
}

<h2>SideMenu</h2>


@*<table class="display" id="MyDataTable">
        <thead>
            <tr>
                <th>
                    CourseName
                </th>
                <th>
                    CourseCredit
                </th>
                <th>
                    CourseCredit
                </th>

            </tr>
        </thead>

        <tbody>


        </tbody>

    </table>*@
<div class="col-md-9">

    <div class="well">
        <a href="#" class="btn btn-primary" onclick="AddEditCourse(0)">New</a>
    </div>
    <table class="display" id="MyDataTable">
        <thead>
            <tr>
                <th>
                    CourseName
                </th>
                <th>
                    CourseCredit
                </th>
                <th>
                    CourseId
                </th>
                
            </tr>
        </thead>

        <tbody></tbody>

    </table>
    <div class="modal fade" id="myModal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">AddEdit Employee</h3>
                </div>
                <div class="modal-body" id="myModalBodyDiv1">


                </div>


            </div>

        </div>

    </div>

    <input type="hidden" id="hiddenEmployeeId" />
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/js")*@
    <script src="~/Scripts/DataTable/jquery.dataTables.js"></script>
    <link href="~/Content/DataTable/css/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/Scripts/Courseinfo.js"></script>

}